:root {
    font-family: system-ui, sans-serif;
    background-color: #f4f4f9;
}

body {
    max-width: 60vw;
    margin: 2rem auto;
    padding: 1rem;
}

/* field-sizing */
#search-input, 
#comment {
    field-sizing: content; /* El tamaño se ajusta al contenido */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

/* Textarea no sea minúsculo al inicio */
#comment {
    min-height: 40px;
    min-width: 300px;
    max-width: 100%;
    display: block;
    margin-bottom: 1rem;
    resize: none; /* Quitamos el tirador manual porque ya es automático */
}

form {
    display: flex;
    gap: 1vw;
    width: 30vh;
}

#search-input {
    min-width: 150px;
}

#search-button {
    background-color: #ae0fda;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .35rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#search-button:focus {
    outline: 0;
}

#search-button:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

#search-button:hover:after {
    bottom: 2px;
    left: 2px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.comment-section {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-send {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}